.list {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  list-style: none;
  gap: 20px;
  height: 100%;
  text-align: center;
}

.item {
  border: 2px solid rgb(56, 54, 54);
  padding: 15px;
  border-radius: 5px;
}

.card {
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 10px;
}
